{% extends 'base.html'%}

{% block content_desc%}
    <div class="container">
        <h2> Sobre </h2>
        
        <hr class="tm-hr-primary">

        <h5>
        <br/><br/>
    
        <p>  Este site foi desenvolvido por:  </p>
        
        <!--<p> Angelo Carlos Siqueira Bettin </p>-->
        
        <p> Celso José Dias Reis </p>

        <p> Danilo José de Lima </p>

        <p>Deuslianne Gonçalves dos Santos</p>
        
        <!--<p> Marcela Rodrigues Borba </p>-->
        
        <p> Thayze D'Martin Costa da Silva </p>
        
        <p> como parte do projeto integrador "Desenvolvimento de aplicação web com material didático para o ensino de cultura digital no ensino fundamental e médio para docentes e alunos da rede pública e particular da RMC", desenvolvido na Universidade Virtual do Estado de São Paulo. </p>

        <p>Este website é uma continuação do Projeto Integrador I, com os membros:</p>

        <p> Angelo Carlos Siqueira Bettin </p>
        
        <p> Celso José Dias Reis </p>

        <p> Danilo José de Lima </p>
        
        <p> Marcela Rodrigues Borba </p>
        
        <p> Thayze D'Martin Costa da Silva </p>
        </h5>
    </div>
    
{% endblock %}