{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} Nível 3 {% endblock %}</h1>
<p>Você está no nível 3. Sua pontuação até agora foi de {{pontuacao}} de um total de 100 pontos possíveis.</p>
<p>Vamos aprender o conectivo E: as duas afirmações precisam ser verdadeiras.</p>
<p>Como exemplo, as afirmações "Dinossauros foram extintos" E "Borboletas não comem peixes" são ambas corretas, portanto a afirmação "Dinossauros foram extintos E Borboletas não comem peixes" é verdadeira.</p>
<p>Vamos à próxima afirmação.</p>
<br>
<h1>Afirmação 11:</h1>
<p>Peixes vivem na água</p>
<h1><pre>       E</pre></h1>
<p>dinossauros foram extintos.</p>
<table>
<tr><td>
        <form method="post">
        <div class="hidden">
            <label for="title">Title</label> 
            <input type="text" name="resposta" placeholder="Post title" class="form-control" value="V" ></input>
        </div>
        <div class="form-group">
            <button type="number" class="btn btn-primary">Verdadeiro</button>
        </div>
        </form>
    </td>
<td>
    <form method="post">
        <div class="hidden">
            <label for="title">Title</label> 
            <input type="text" name="resposta" placeholder="Post title" class="form-control" value="F"></input>
        </div>
        <div class="form-group">
            <button type="number" class="btn btn-primary">Falso</button>
        </div>
    </form>
</td>
</table>
<p>Pontuação total atual: {{pontuacao}} </p>

{% endblock %}