{% extends 'base.html'%}

{% block content1%}

<h2> Jogos para a aprendizagem de Lógica Básica </h2>

<hr class="tm-hr-primary">

    <div class="container">
        <h3> Jogo Verdadeiro ou Falso </h3>
        <iframe src="https://wordwall.net/pt/embed/2996aa843c1e4e44b8e9e0f69889559a?themeId=1&templateId=5"
            width="500" height="380" frameborder="0" allowfullscreen></iframe>
    </div>

    <hr>

    <div class="container">
        <h3> Jogo Verdadeiro ou Falso usando conectivo "e"</h3>
        <iframe src="https://wordwall.net/pt/embed/5f7233fb9add47d88c868aa49f3b98e2?themeId=21&templateId=35" 
            width="500" height="380" frameborder="0" allowfullscreen></iframe>
    </div>

    <hr> 
    
    <div class="container">
        <h3> Silogismo categórico - Gato e Pato </h3>    
        <iframe src="https://wordwall.net/pt/embed/35733483b981493a8625df0cf3432485?themeId=23&templateId=49"
            width="500" height="380" frameborder="0" allowfullscreen></iframe>
    </div>

    <hr> 
 
    <div class="container">
        <h3> Turma da Mônica - verdadeiro ou falso </h3>
        <iframe src="https://wordwall.net/embed/52f4083f055047dfa3d1724fb376741b?themeId=1&templateId=35"
            width="500" height="380" frameborder="0" allowfullscreen></iframe>
    </div>

    <hr> 

    <div class="container">
        <h3> Falso ou verdadeiro - Adição e Subtração</h3>
        <iframe src="https://wordwall.net/pt/embed/612a7013e84e4ec78c1c4d9672ad602f?themeId=46&templateId=35"
            width="500" height="380" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <hr> 

    <div class="container">
        <h3> Falso ou verdadeiro da multiplicação </h3>
        <iframe src="https://wordwall.net/pt/embed/e99fbf1f6a014703b21b1f026f95e714?themeId=23&templateId=35"
            width="500" height="380" frameborder="0" allowfullscreen>
        </iframe>    
    </div>

    <hr> 

    <div class="container">
        <h3> Falso ou verdadeiro - Trânsito </h3>
        <iframe src="https://wordwall.net/pt/embed/f0b4b46e08094531aa7e520f6992c302?themeId=44&templateId=35"
            width="500" height="380" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <hr> 

    <div class="container">
        <h3> A lógica das proposições </h3>
        <iframe src="https://wordwall.net/pt/embed/220d1f4069c44330b92c4bbec7ae7632?themeId=22&templateId=5" 
            width="500" height="380" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <hr>
    
    <div class="container">
        <h3> Jogo das proposições </h3>
        <iframe src="https://wordwall.net/pt/embed/471e7a1176a541fd85be90b7f4dd919e?themeId=41&templateId=2"
            width="500" height="380" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <hr>

    <div class="container">
        <h3> Transitividade - lógica hipotética SE ou ENTÃO </h3>
        <iframe src="https://wordwall.net/pt/embed/7e2bc2607f6f4f0c9ae961702648ab46?themeId=27&templateId=5"
            width="500" height="380" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <hr>

    <div class="container">
        <h3> Portas Lógicas </h3>
        <iframe src="https://wordwall.net/pt/embed/aa05157afa76443a8e3262444794a4c4?themeId=22&templateId=45" 
            width="500" height="380" frameborder="0" allowfullscreen>
        </iframe>
    </div>

    <hr>

    <div class="container">
        <h3> Logic Gates </h3>
        <iframe src="https://wordwall.net/embed/5bdad1cb9828403ca78c8454d02b68b6?themeId=1&templateId=3"
            width="500" height="380" frameborder="0" allowfullscreen>
        </iframe>
    </div>

{% endblock %}